node_red/gaitflow.json
[{"id":"e95d5c0d.1bb95","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5c6f7b5f.850f34","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c2eb220b.cc58a","type":"mqtt-broker","z":"","name":"Meu Broker MQTT","broker":"192.168.0.4","port":"1883","clientid":"ESP32_Tiago","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"421d024c.81f4bc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#05222d","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#03797f","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#03797f","edited":true},"page-titlebar-backgroundColor":{"value":"#03797f","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#05c0ca","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#03797f","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3fbed795.bf4138","type":"ui_tab","z":"","name":"Gráficos da Aceleração Linear e da Variação Angular do MPU6050","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"cd719d7.eb5566","type":"ui_group","z":"","name":"Eixo X","tab":"3fbed795.bf4138","order":1,"disp":true,"width":"12","collapse":false},{"id":"e0280878.ceb728","type":"ui_group","z":"","name":"Eixo Y","tab":"3fbed795.bf4138","order":2,"disp":true,"width":12,"collapse":false},{"id":"6666689c.b1e498","type":"ui_group","z":"","name":"Eixo Z","tab":"3fbed795.bf4138","order":3,"disp":true,"width":12,"collapse":false},{"id":"787646e3.70e248","type":"ui_tab","z":"","name":"Aceleração Angular dos Eixos X Y Z","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"bf32b738.a13848","type":"ui_group","z":"","name":"EIxo X","tab":"787646e3.70e248","order":1,"disp":true,"width":11,"collapse":false},{"id":"8f096dd8.0baeb","type":"ui_group","z":"","name":"Eixo Y","tab":"787646e3.70e248","order":2,"disp":true,"width":11,"collapse":false},{"id":"f173b335.699bb","type":"ui_group","z":"","name":"Eixo Z","tab":"787646e3.70e248","order":3,"disp":true,"width":11,"collapse":false},{"id":"5d4634a.d1faccc","type":"sqlitedb","z":"","db":"/home/trs/Arduino","mode":"RWC"},{"id":"a6f12351.6f774","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3e8dd508.f0f53a","type":"ui_group","z":"","name":"Informações do Paciente","tab":"a6f12351.6f774","disp":true,"width":"13","collapse":false},{"id":"5ba30d07.64eda4","type":"ui_spacer","name":"spacer","group":"cd719d7.eb5566","order":3,"width":12,"height":1},{"id":"31f9e871.31fb88","type":"ui_spacer","name":"spacer","group":"cd719d7.eb5566","order":5,"width":12,"height":1},{"id":"422b8a51.a08874","type":"ui_spacer","name":"spacer","group":"e0280878.ceb728","order":3,"width":12,"height":1},{"id":"42acbc63.bb22b4","type":"ui_spacer","name":"spacer","group":"e0280878.ceb728","order":5,"width":12,"height":1},{"id":"d95c41b.184f2c","type":"ui_spacer","name":"spacer","group":"6666689c.b1e498","order":3,"width":12,"height":1},{"id":"ff2fcb60.2df938","type":"ui_spacer","name":"spacer","group":"6666689c.b1e498","order":5,"width":12,"height":1},{"id":"b6bd5cfd.7c5dc","type":"ui_spacer","name":"spacer","group":"3e8dd508.f0f53a","order":2,"width":3,"height":1},{"id":"157564e5.30204b","type":"ui_spacer","name":"spacer","group":"3e8dd508.f0f53a","order":3,"width":13,"height":1},{"id":"b6633c2b.a0486","type":"ui_spacer","name":"spacer","group":"3e8dd508.f0f53a","order":5,"width":6,"height":1},{"id":"62142b82.a231a4","type":"ui_spacer","name":"spacer","group":"3e8dd508.f0f53a","order":6,"width":13,"height":1},{"id":"7826ed59.2afab4","type":"ui_spacer","name":"spacer","group":"3e8dd508.f0f53a","order":8,"width":6,"height":1},{"id":"849bd33d.cd95f","type":"ui_spacer","name":"spacer","group":"3e8dd508.f0f53a","order":9,"width":13,"height":1},{"id":"958734d2.df6258","type":"ui_spacer","name":"spacer","group":"3e8dd508.f0f53a","order":11,"width":6,"height":1},{"id":"6c7834fb.5d3f3c","type":"ui_spacer","name":"spacer","group":"3e8dd508.f0f53a","order":12,"width":13,"height":1},{"id":"e886e623.0aaee8","type":"ui_spacer","name":"spacer","group":"3e8dd508.f0f53a","order":14,"width":6,"height":1},{"id":"aa1d2a5e.1d5858","type":"ui_spacer","name":"spacer","group":"3e8dd508.f0f53a","order":15,"width":13,"height":1},{"id":"39dcaf0a.1c92d","type":"mqtt in","z":"e95d5c0d.1bb95","name":"sub_mqtt","topic":"/mpu6050/acerecao/csv","qos":"2","datatype":"auto","broker":"c2eb220b.cc58a","x":280,"y":400,"wires":[["96975728.7ec6c8","edace9ef.88dba8"]]},{"id":"96975728.7ec6c8","type":"debug","z":"e95d5c0d.1bb95","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":340,"wires":[]},{"id":"edace9ef.88dba8","type":"csv","z":"e95d5c0d.1bb95","name":"","sep":",","hdrin":false,"hdrout":true,"multi":"one","ret":"\\n","temp":"xaxis,yaxis,zaxis,xang,yang,zang","skip":"0","strings":true,"x":490,"y":520,"wires":[["1843114b.00e22f","e55ee7ac.1305a8","62329d88.ceece4","a3285218.b7b18"]]},{"id":"1843114b.00e22f","type":"debug","z":"e95d5c0d.1bb95","name":"csv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":380,"wires":[]},{"id":"e55ee7ac.1305a8","type":"function","z":"e95d5c0d.1bb95","name":"xaxis","func":"msg.payload = msg.payload.xaxis;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":460,"wires":[["12d8ec52.144ae4","a8fbd7b5.b4cc28"]]},{"id":"12d8ec52.144ae4","type":"debug","z":"e95d5c0d.1bb95","name":"eixo_x","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":520,"wires":[]},{"id":"62329d88.ceece4","type":"function","z":"e95d5c0d.1bb95","name":"yaxis","func":"msg.payload = msg.payload.yaxis;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":580,"wires":[["9433be0a.98509","442ea489.017fdc"]]},{"id":"9433be0a.98509","type":"debug","z":"e95d5c0d.1bb95","name":"eixo_y","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":640,"wires":[]},{"id":"a3285218.b7b18","type":"function","z":"e95d5c0d.1bb95","name":"zaxis","func":"msg.payload = msg.payload.zaxis;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":700,"wires":[["984db2e8.dff96","d15c1c52.b78be"]]},{"id":"984db2e8.dff96","type":"debug","z":"e95d5c0d.1bb95","name":"eixo_z","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":760,"wires":[]},{"id":"7078793e.4ae198","type":"inject","z":"e95d5c0d.1bb95","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1060,"y":340,"wires":[[]]},{"id":"d15c1c52.b78be","type":"ui_chart","z":"e95d5c0d.1bb95","name":"","group":"6666689c.b1e498","order":1,"width":0,"height":0,"label":"Aceleração Linear no Eixo Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#0f5789","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":700,"wires":[[]]},{"id":"442ea489.017fdc","type":"ui_chart","z":"e95d5c0d.1bb95","name":"","group":"e0280878.ceb728","order":1,"width":0,"height":0,"label":"Aceleração Linear no Eixo Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#c7191a","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":580,"wires":[[]]},{"id":"a8fbd7b5.b4cc28","type":"ui_chart","z":"e95d5c0d.1bb95","name":"","group":"cd719d7.eb5566","order":1,"width":0,"height":0,"label":"Aceleração Linear no Eixo X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#115dc1","#e57716","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":460,"wires":[[]]},{"id":"8bfebc8e.f14b6","type":"mqtt in","z":"e95d5c0d.1bb95","name":"sub_mqtt_angle","topic":"/mpu6050/angulo/csv","qos":"2","datatype":"auto","broker":"c2eb220b.cc58a","x":280,"y":720,"wires":[["3189afb2.c1e3c"]]},{"id":"3189afb2.c1e3c","type":"csv","z":"e95d5c0d.1bb95","name":"","sep":",","hdrin":false,"hdrout":true,"multi":"one","ret":"\\n","temp":"xang,yang,zang","skip":"0","strings":true,"x":490,"y":780,"wires":[["22e1b58c.0809ba","b3c08340.30595","1d98d51a.55bd4b","39628357.cc65bc"]]},{"id":"22e1b58c.0809ba","type":"function","z":"e95d5c0d.1bb95","name":"xang","func":"msg.payload = msg.payload.xang;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":860,"wires":[["3a25bf29.c1568","e73eff07.ddde6"]]},{"id":"b3c08340.30595","type":"function","z":"e95d5c0d.1bb95","name":"yang","func":"msg.payload = msg.payload.yang;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":980,"wires":[["8826a35f.af8ed","5910b6a6.5048c8"]]},{"id":"1d98d51a.55bd4b","type":"function","z":"e95d5c0d.1bb95","name":"zang","func":"msg.payload = msg.payload.zang;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1100,"wires":[["ecfae0be.0650f","dbaf0acb.2689c8"]]},{"id":"3a25bf29.c1568","type":"debug","z":"e95d5c0d.1bb95","name":"eixo_x_ang","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":920,"wires":[]},{"id":"8826a35f.af8ed","type":"debug","z":"e95d5c0d.1bb95","name":"eixo_y_ang","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":1040,"wires":[]},{"id":"ecfae0be.0650f","type":"debug","z":"e95d5c0d.1bb95","name":"eixo_z_ang","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":1160,"wires":[]},{"id":"e73eff07.ddde6","type":"ui_chart","z":"e95d5c0d.1bb95","name":"","group":"cd719d7.eb5566","order":4,"width":0,"height":0,"label":"Variação Angular no Eixo X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#115dc1","#ed964a","#128512","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":860,"wires":[[]]},{"id":"5910b6a6.5048c8","type":"ui_chart","z":"e95d5c0d.1bb95","name":"","group":"e0280878.ceb728","order":4,"width":0,"height":0,"label":"Variação Angular no Eixo Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#c7191a","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":980,"wires":[[]]},{"id":"dbaf0acb.2689c8","type":"ui_chart","z":"e95d5c0d.1bb95","name":"","group":"6666689c.b1e498","order":4,"width":0,"height":0,"label":"Variaçaõ Angular no Eixo Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#0f5789","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":1100,"wires":[[]]},{"id":"39628357.cc65bc","type":"debug","z":"e95d5c0d.1bb95","name":"csv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":760,"wires":[]},{"id":"926dd108.c3622","type":"mqtt in","z":"5c6f7b5f.850f34","name":"sub_data","topic":"/mpu6050/acerecao/csv","qos":"2","datatype":"auto","broker":"c2eb220b.cc58a","x":80,"y":740,"wires":[["c3b4535d.18014"]]},{"id":"c3b4535d.18014","type":"csv","z":"5c6f7b5f.850f34","name":"","sep":",","hdrin":false,"hdrout":true,"multi":"one","ret":"\\n","temp":"xaxis,yaxis,zaxis,xang,yang,zang,time","skip":"0","strings":true,"x":270,"y":740,"wires":[["d53aa4f8.53e058","38fd4d8f.f17a72","fdd02ddb.3c57e","8cecffd7.16d55","d0760082.cbbf7","2328b6a2.e1350a","6b69a361.f7feac","9e42ad94.31a38","6a9a2ead.c980e"]]},{"id":"d53aa4f8.53e058","type":"function","z":"5c6f7b5f.850f34","name":"xaxis","func":"msg.payload = msg.payload.xaxis;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":800,"wires":[["40349233.7211dc"]]},{"id":"38fd4d8f.f17a72","type":"function","z":"5c6f7b5f.850f34","name":"yaxis","func":"msg.payload = msg.payload.yaxis;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":860,"wires":[["99c7e082.1af0a"]]},{"id":"fdd02ddb.3c57e","type":"function","z":"5c6f7b5f.850f34","name":"zaxis","func":"msg.payload = msg.payload.zaxis;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":920,"wires":[["c0aa7d1d.b2d66"]]},{"id":"c0aa7d1d.b2d66","type":"ui_chart","z":"5c6f7b5f.850f34","name":"","group":"6666689c.b1e498","order":2,"width":0,"height":0,"label":"Aceleração Linear no Eixo Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#0f5789","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":920,"wires":[[]]},{"id":"99c7e082.1af0a","type":"ui_chart","z":"5c6f7b5f.850f34","name":"","group":"e0280878.ceb728","order":2,"width":0,"height":0,"label":"Aceleração Linear no Eixo Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#c7191a","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":860,"wires":[[]]},{"id":"40349233.7211dc","type":"ui_chart","z":"5c6f7b5f.850f34","name":"","group":"cd719d7.eb5566","order":2,"width":0,"height":0,"label":"Aceleração Linear no Eixo X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#115dc1","#e57716","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":800,"wires":[[]]},{"id":"8cecffd7.16d55","type":"function","z":"5c6f7b5f.850f34","name":"xang","func":"msg.payload = msg.payload.xang;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":980,"wires":[["1f7d7dd2.ed1972"]]},{"id":"d0760082.cbbf7","type":"function","z":"5c6f7b5f.850f34","name":"yang","func":"msg.payload = msg.payload.yang;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1040,"wires":[["e7d895d5.1e11c8"]]},{"id":"2328b6a2.e1350a","type":"function","z":"5c6f7b5f.850f34","name":"zang","func":"msg.payload = msg.payload.zang;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1100,"wires":[["fd5d1411.486418"]]},{"id":"1f7d7dd2.ed1972","type":"ui_chart","z":"5c6f7b5f.850f34","name":"","group":"cd719d7.eb5566","order":6,"width":0,"height":0,"label":"Variação Angular no Eixo X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#115dc1","#ed964a","#128512","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":980,"wires":[[]]},{"id":"e7d895d5.1e11c8","type":"ui_chart","z":"5c6f7b5f.850f34","name":"","group":"e0280878.ceb728","order":6,"width":0,"height":0,"label":"Variação Angular no Eixo Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#c7191a","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":1040,"wires":[[]]},{"id":"fd5d1411.486418","type":"ui_chart","z":"5c6f7b5f.850f34","name":"","group":"6666689c.b1e498","order":6,"width":0,"height":0,"label":"Variaçaõ Angular no Eixo Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#0f5789","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":1100,"wires":[[]]},{"id":"6b69a361.f7feac","type":"function","z":"5c6f7b5f.850f34","name":"timesample","func":"msg.payload = msg.payload.time;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1160,"wires":[[]]},{"id":"f5a7c9a.d00ce38","type":"trigger","z":"5c6f7b5f.850f34","op1":"iniciar","op2":"simulação realizada com sucesso","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1140,"y":40,"wires":[["da915ce6.14e76"]]},{"id":"da915ce6.14e76","type":"mqtt out","z":"5c6f7b5f.850f34","name":"pub_mqtt","topic":"/mpu6050/listener","qos":"0","retain":"","broker":"c2eb220b.cc58a","x":1280,"y":40,"wires":[]},{"id":"1d92e93a.3efcc7","type":"ui_text_input","z":"5c6f7b5f.850f34","name":"","label":"Name (em caixa alta, por favor)","tooltip":"","group":"3e8dd508.f0f53a","order":1,"width":10,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"dashboardname","x":190,"y":100,"wires":[["e2419abf.d72678"]]},{"id":"bb5dbfef.c1cad","type":"function","z":"5c6f7b5f.850f34","name":"Dynamic Filename","func":"function formatDate(date) {\n    var d = new Date(date),\n        month = '' + (d.getMonth() + 1),\n        day = '' + d.getDate(),\n        year = d.getFullYear();\n        hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n        mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n        ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n        //idade = '' + getidade();\n        //marcha = '' +getmarcha();\n        //altura = '' + getaltura();\n        //peso = '' + getpeso();\n        //codigo = '' + getgeracodigo(); ex: 2020060521N77TRS120 Idade/marcha/peso/iniciais/altura\n        \n        \n        \n        \n\n    if (month.length < 2) month = '0' + month;\n    if (day.length < 2) day = '0' + day;\n// Nome, Idade, Marcha, Altura, Peso\n    var name = msg.payload[0];\n    \n    var age = msg.payload[1];\n   \n    var weight = msg.payload[2];\n    \n    var height = msg.payload[3];\n    \n    var gait = msg.payload[4];\n    \n// Initials recebe as iniciais do nome do usuário    \n//    var initials = name.split(\" \").map((n)=>n[0]).join('');\n//    var initials = age.split(\" \");\n    var initials = name.split(\" \").map((n)=>n[0]).join('');\n    \n\n    return [year, month, day,age,gait,weight,initials,height].join('');\n}\n\nvar tempString =formatDate(Date().toString());\nvar tempString1 = \"\"+\"/home/trs/Arduino/GaitDataset/\";\nvar tempString2 = tempString1.concat(tempString);\nvar finalPath = tempString2.concat(\".csv\");\n\n\nmsg.payload= finalPath;\n\nreturn msg;\n    \n    \n    \n","outputs":1,"noerr":0,"x":710,"y":520,"wires":[["a681ddcb.acaeb"]]},{"id":"bd9f3285.a3bfe","type":"exec","z":"5c6f7b5f.850f34","command":"mv /home/trs/Arduino/GaitDataset/temporary.csv   ","addpay":true,"append":"","useSpawn":"false","timer":"2","oldrc":false,"name":"Rename temporary file","x":1180,"y":520,"wires":[[],[],[]]},{"id":"9e42ad94.31a38","type":"file","z":"5c6f7b5f.850f34","name":"","filename":"/home/trs/Arduino/GaitDataset/temporary.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":770,"y":740,"wires":[[]]},{"id":"8835f6bc.f7f568","type":"ui_text_input","z":"5c6f7b5f.850f34","name":"","label":"Age","tooltip":"","group":"3e8dd508.f0f53a","order":4,"width":7,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"dashboardage","x":270,"y":160,"wires":[["e2419abf.d72678"]]},{"id":"fd1d3e4b.8f396","type":"ui_text_input","z":"5c6f7b5f.850f34","name":"","label":"Weight (kg)","tooltip":"","group":"3e8dd508.f0f53a","order":7,"width":7,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"dashboardweight","x":250,"y":220,"wires":[["e2419abf.d72678"]]},{"id":"c5500070.d3ef9","type":"ui_text_input","z":"5c6f7b5f.850f34","name":"","label":"Height (cm)","tooltip":"","group":"3e8dd508.f0f53a","order":10,"width":7,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"dashboardheight","x":250,"y":280,"wires":[["e2419abf.d72678"]]},{"id":"4ca388e2.7012f8","type":"mqtt in","z":"5c6f7b5f.850f34","name":"sub_age","topic":"/mpu6050/info_user/age","qos":"2","datatype":"auto","broker":"c2eb220b.cc58a","x":80,"y":480,"wires":[["db88cd1d.be63d"]]},{"id":"a47e431f.97fd2","type":"mqtt in","z":"5c6f7b5f.850f34","name":"sub_weight","topic":"/mpu6050/info_user/weight","qos":"2","datatype":"auto","broker":"c2eb220b.cc58a","x":70,"y":540,"wires":[["8db53b9a.facdf8"]]},{"id":"ec8e2230.6af87","type":"mqtt in","z":"5c6f7b5f.850f34","name":"sub_height","topic":"/mpu6050/info_user/height","qos":"2","datatype":"auto","broker":"c2eb220b.cc58a","x":80,"y":600,"wires":[["8506e3a6.f1755"]]},{"id":"1db2b375.78051d","type":"ui_button","z":"5c6f7b5f.850f34","name":"","group":"3e8dd508.f0f53a","order":16,"width":0,"height":0,"passthru":false,"label":"Iniciar simulação","tooltip":"","color":"","bgcolor":"","icon":"","payload":"iniciar","payloadType":"str","topic":"dashboard","x":230,"y":40,"wires":[["e2419abf.d72678"]]},{"id":"a681ddcb.acaeb","type":"delay","z":"5c6f7b5f.850f34","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":520,"wires":[["bd9f3285.a3bfe"]]},{"id":"9adcda4f.c49858","type":"function","z":"5c6f7b5f.850f34","name":"set Context to Flow","func":"var initialize; //variável onde será guardada a string \"iniciar\".\n\nvar name; //variável onde será guardada a feature nome do paciente.\n\nvar age; //variável onde será guardada a feature idade do paciente;\n\nvar weight; //variável onde será guarda a feature peso do paciente;\n\nvar height; //variável onde será guardada a feature altura do paciente;\n\nvar gait; //variavel onde será guardada a feature da marcha N ou I do paciente;\n\n//Setar variáveis para serem enxergadas por todos os nós do fluxo.\nflow.set('initialize',msg.payload.dashboard); \n\nflow.set('name',msg.payload.dashboardname); \n\nflow.set('age',msg.payload.dashboardage);\n\nflow.set('weight',msg.payload.dashboardweight);\n\nflow.set('height',msg.payload.dashboardheight);\n\nflow.set('gait',msg.payload.dashboardgait);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":200,"wires":[["b01eaac3.505268","ae47e4d6.a0f898","f13a14ae.af92a8","e5f62a5a.cfd918","963ce495.21fea8","b04bbf7c.30a05"]]},{"id":"295b49db.d34486","type":"mqtt in","z":"5c6f7b5f.850f34","name":"sub_name","topic":"/mpu6050/info_user/name","qos":"2","datatype":"auto","broker":"c2eb220b.cc58a","x":240,"y":420,"wires":[["6ffd041c.bd92ec"]]},{"id":"e2419abf.d72678","type":"join","z":"5c6f7b5f.850f34","name":"Join Info","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":520,"y":200,"wires":[["9adcda4f.c49858"]]},{"id":"b01eaac3.505268","type":"function","z":"5c6f7b5f.850f34","name":"Retrieve Initialize","func":"var start; //variável que armazenará o valor \"iniciar\" da variável flow \"initialize\".\n\nstart = flow.get('initialize'); //Armazenamento da variável flow initialize na variável start\n\nmsg.payload = start;\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":40,"wires":[["f5a7c9a.d00ce38"]]},{"id":"c47342fe.2da08","type":"mqtt out","z":"5c6f7b5f.850f34","name":"pub_name","topic":"/mpu6050/info_user/name","qos":"0","retain":"true","broker":"c2eb220b.cc58a","x":1150,"y":100,"wires":[]},{"id":"ae47e4d6.a0f898","type":"function","z":"5c6f7b5f.850f34","name":"Retrieve Name","func":"var getname; //Variável que armazenará o valor da variável do tipo flow 'name';\n\ngetname = flow.get('name'); // Função que retorna o valor da variável flow 'name' para a variável 'getname'\n\nmsg.payload = getname;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":100,"wires":[["c47342fe.2da08"]]},{"id":"f13a14ae.af92a8","type":"function","z":"5c6f7b5f.850f34","name":"Retrieve Age","func":"var getage; //Variável que armazenará o valor da variável do tipo flow 'age';\n\ngetage = flow.get('age'); // Função que retorna o valor da variável flow 'age' para a variável 'age'\n\nmsg.payload = getage;\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":160,"wires":[["fb2d583c.00c688"]]},{"id":"e5f62a5a.cfd918","type":"function","z":"5c6f7b5f.850f34","name":"Retrieve Weight","func":"var getweight; //Variável que armazenará o valor da variável do tipo flow 'name';\n\ngetweight = flow.get('weight'); // Função que retorna o valor da variável flow 'name' para a variável 'getname'\n\nmsg.payload = getweight;\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":220,"wires":[["854f418b.94fc2"]]},{"id":"963ce495.21fea8","type":"function","z":"5c6f7b5f.850f34","name":"Retrieve Height","func":"var getheight; //Variável que armazenará o valor da variável do tipo flow 'name';\n\ngetheight = flow.get('height'); // Função que retorna o valor da variável flow 'name' para a variável 'getname'\n\nmsg.payload = getheight;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":280,"wires":[["11efaff.f899b5"]]},{"id":"fb2d583c.00c688","type":"mqtt out","z":"5c6f7b5f.850f34","name":"pub_age","topic":"/mpu6050/info_user/age","qos":"0","retain":"true","broker":"c2eb220b.cc58a","x":1140,"y":160,"wires":[]},{"id":"854f418b.94fc2","type":"mqtt out","z":"5c6f7b5f.850f34","name":"pub_weight","topic":"/mpu6050/info_user/weight","qos":"0","retain":"true","broker":"c2eb220b.cc58a","x":1150,"y":220,"wires":[]},{"id":"11efaff.f899b5","type":"mqtt out","z":"5c6f7b5f.850f34","name":"pub_height","topic":"/mpu6050/info_user/height","qos":"0","retain":"true","broker":"c2eb220b.cc58a","x":1150,"y":280,"wires":[]},{"id":"20d913a7.8dbedc","type":"mqtt in","z":"5c6f7b5f.850f34","name":"sub_gait","topic":"/mpu6050/info_user/gait","qos":"2","datatype":"auto","broker":"c2eb220b.cc58a","x":80,"y":660,"wires":[["846f2eb8.53a99"]]},{"id":"fe868b64.729e08","type":"ui_text_input","z":"5c6f7b5f.850f34","name":"","label":"Gait (N para Normal, I para Irregular)","tooltip":"","group":"3e8dd508.f0f53a","order":13,"width":7,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"dashboardgait","x":170,"y":340,"wires":[["e2419abf.d72678"]]},{"id":"9138823c.e66a2","type":"mqtt out","z":"5c6f7b5f.850f34","name":"pub_gait","topic":"/mpu6050/info_user/gait","qos":"0","retain":"true","broker":"c2eb220b.cc58a","x":1140,"y":340,"wires":[]},{"id":"b04bbf7c.30a05","type":"function","z":"5c6f7b5f.850f34","name":"Retrieve Gait","func":"var getgait; //Variável que armazenará o valor da variável do tipo flow 'name';\n\ngetgait= flow.get('gait'); // Função que retorna o valor da variável flow 'name' para a variável 'getname'\n\nmsg.payload = getgait;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":340,"wires":[["9138823c.e66a2"]]},{"id":"e379bc3e.8e50b","type":"debug","z":"5c6f7b5f.850f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":580,"wires":[]},{"id":"6ffd041c.bd92ec","type":"join","z":"5c6f7b5f.850f34","name":"Join Info ","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic.","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":500,"y":520,"wires":[["e379bc3e.8e50b","bb5dbfef.c1cad"]]},{"id":"db88cd1d.be63d","type":"delay","z":"5c6f7b5f.850f34","name":"delay 200 ms","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":480,"wires":[["6ffd041c.bd92ec"]]},{"id":"8db53b9a.facdf8","type":"delay","z":"5c6f7b5f.850f34","name":"delay 250 ms","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":540,"wires":[["6ffd041c.bd92ec"]]},{"id":"8506e3a6.f1755","type":"delay","z":"5c6f7b5f.850f34","name":"delay 300 ms","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":600,"wires":[["6ffd041c.bd92ec"]]},{"id":"846f2eb8.53a99","type":"delay","z":"5c6f7b5f.850f34","name":"delay 350 ms","pauseType":"delay","timeout":"350","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":660,"wires":[["6ffd041c.bd92ec"]]},{"id":"9fabb37b.689ed","type":"comment","z":"5c6f7b5f.850f34","name":"Why Delay ?","info":"Os nodes de delay acima tem por função organizar\na ordem em que as informações do paciente chegam\nno vetor. Dessa forma, não haverá problemas \nna função do Dynamic Filename que, por sua vez,\nexige uma ordem pré-definida das mensagens recebidas por uma questão de codificação do filename.","x":90,"y":420,"wires":[]},{"id":"6a9a2ead.c980e","type":"debug","z":"5c6f7b5f.850f34","name":"csv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":800,"wires":[]}]