node_red/GaitProject09-2020.json
[{"id":"7ed84d73.bb9d74","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4232da58.fac354","type":"mqtt in","z":"7ed84d73.bb9d74","name":"bigbuffer","topic":"/iotgait/data/buffer/","qos":"2","datatype":"utf8","broker":"2fb1d01c.c6fa","x":740,"y":780,"wires":[["fddf21c5.782e9","d53a3609.4aaa48"]]},{"id":"337f5c5c.724c84","type":"csv","z":"7ed84d73.bb9d74","name":"","sep":"\\n","hdrin":false,"hdrout":"all","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":890,"y":920,"wires":[["a62c21af.1d11e","e3a394ed.fda398","1a9fb6bf.05a249","d3101854.857d18","a5c628d8.edff58","e4899924.da9c38","2f448adc.e6f2e6","a633a64f.9a3138"]]},{"id":"a62c21af.1d11e","type":"function","z":"7ed84d73.bb9d74","name":"xaxis","func":"msg.payload = msg.payload.xaxis;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":840,"wires":[["6fb8f387.9bb30c"]]},{"id":"e3a394ed.fda398","type":"function","z":"7ed84d73.bb9d74","name":"yaxis","func":"msg.payload = msg.payload.yaxis;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":900,"wires":[["772cc115.264f5"]]},{"id":"1a9fb6bf.05a249","type":"function","z":"7ed84d73.bb9d74","name":"zaxis","func":"msg.payload = msg.payload.zaxis;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":960,"wires":[["db11d291.fc517"]]},{"id":"d3101854.857d18","type":"function","z":"7ed84d73.bb9d74","name":"xang","func":"msg.payload = msg.payload.xang;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1020,"wires":[["b67d828.dc65e8"]]},{"id":"a5c628d8.edff58","type":"function","z":"7ed84d73.bb9d74","name":"yang","func":"msg.payload = msg.payload.yang;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1080,"wires":[["c51f8143.bc119"]]},{"id":"e4899924.da9c38","type":"function","z":"7ed84d73.bb9d74","name":"zang","func":"msg.payload = msg.payload.zang;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1140,"wires":[["fcc62a65.7f61e8"]]},{"id":"2f448adc.e6f2e6","type":"function","z":"7ed84d73.bb9d74","name":"timesample","func":"msg.payload = msg.payload.time;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1200,"wires":[[]]},{"id":"fddf21c5.782e9","type":"file","z":"7ed84d73.bb9d74","name":"","filename":"/home/trs/Gait_Project/GaitDataset/temporary.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1270,"y":780,"wires":[[]]},{"id":"db11d291.fc517","type":"ui_chart","z":"7ed84d73.bb9d74","name":"","group":"7cdf1640.9981c8","order":5,"width":0,"height":0,"label":"Aceleração Linear no Eixo Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0f5789","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1360,"y":960,"wires":[[]]},{"id":"772cc115.264f5","type":"ui_chart","z":"7ed84d73.bb9d74","name":"","group":"7cdf1640.9981c8","order":3,"width":0,"height":0,"label":"Aceleração Linear no Eixo Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#c7191a","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1360,"y":900,"wires":[[]]},{"id":"6fb8f387.9bb30c","type":"ui_chart","z":"7ed84d73.bb9d74","name":"","group":"7cdf1640.9981c8","order":1,"width":12,"height":7,"label":"Aceleração Linear no Eixo X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#115dc1","#e57716","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1360,"y":840,"wires":[[]]},{"id":"b67d828.dc65e8","type":"ui_chart","z":"7ed84d73.bb9d74","name":"","group":"daf3c96f.f2b478","order":1,"width":12,"height":7,"label":"Variação Angular no Eixo X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#115dc1","#ed964a","#128512","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1360,"y":1020,"wires":[[]]},{"id":"c51f8143.bc119","type":"ui_chart","z":"7ed84d73.bb9d74","name":"","group":"daf3c96f.f2b478","order":3,"width":12,"height":7,"label":"Variação Angular no Eixo Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#c7191a","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1360,"y":1080,"wires":[[]]},{"id":"fcc62a65.7f61e8","type":"ui_chart","z":"7ed84d73.bb9d74","name":"","group":"daf3c96f.f2b478","order":5,"width":0,"height":0,"label":"Variaçaõ Angular no Eixo Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0f5789","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1360,"y":1140,"wires":[[]]},{"id":"cedfc407.e9c128","type":"ui_text","z":"7ed84d73.bb9d74","group":"98568584.0543a8","order":1,"width":9,"height":1,"name":"","label":"[Status] MPU6050 Sensor:","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":840,"wires":[]},{"id":"493663f4.a6642c","type":"ui_text","z":"7ed84d73.bb9d74","group":"98568584.0543a8","order":3,"width":9,"height":1,"name":"","label":"[Status] Broker MQTT: ","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":900,"wires":[]},{"id":"eff213b1.c4bff","type":"mqtt in","z":"7ed84d73.bb9d74","name":"sub_status_mpu6050","topic":"/iotgait/status/mpu6050/","qos":"2","datatype":"utf8","broker":"2fb1d01c.c6fa","x":120,"y":840,"wires":[["cedfc407.e9c128"]]},{"id":"415a73cf.fb472c","type":"ui_button","z":"7ed84d73.bb9d74","name":"","group":"98568584.0543a8","order":5,"width":9,"height":1,"passthru":false,"label":"Connection Test","tooltip":"","color":"white","bgcolor":"blue","icon":"fa-play-circle fa-3x","payload":"runtest","payloadType":"str","topic":"GetDeviceStatus","x":140,"y":780,"wires":[["f3ae5e4.dc739a"]]},{"id":"bf953e22.ba7cf","type":"mqtt out","z":"7ed84d73.bb9d74","name":"pub_mqtt2","topic":"/mpu6050/listener2/","qos":"0","retain":"","broker":"2fb1d01c.c6fa","x":530,"y":780,"wires":[]},{"id":"f3ae5e4.dc739a","type":"trigger","z":"7ed84d73.bb9d74","name":"ClearBroker","op1":"","op2":"endtest","op1type":"pay","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":350,"y":780,"wires":[["bf953e22.ba7cf"]]},{"id":"85d3f865.2df0f8","type":"mqtt in","z":"7ed84d73.bb9d74","name":"sub_status_broker","topic":"/iotgait/status/broker/","qos":"2","datatype":"utf8","broker":"2fb1d01c.c6fa","x":130,"y":900,"wires":[["493663f4.a6642c"]]},{"id":"bef74107.69108","type":"comment","z":"7ed84d73.bb9d74","name":"Connectivity Test Flow","info":"Esta sessão de blocos tem por função testar conectividades do device (esp32 e mpu6050) em termos de:\n\n1. Conectivdade do ESP32 ao Broker; \n2. Conectividade entre ESP32 e MPU6050; \n3. Funcionalidade do DMP;","x":100,"y":720,"wires":[]},{"id":"45781afd.740424","type":"comment","z":"7ed84d73.bb9d74","name":"Get Gait Data Session","info":"Esta sessão tem por finalidade capturar os dados do sensor MPU6050 que chega ao broker e passá-los a um arquivo csv temporário.","x":780,"y":720,"wires":[]},{"id":"a633a64f.9a3138","type":"debug","z":"7ed84d73.bb9d74","name":"csv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1080,"wires":[]},{"id":"7ee2eb6a.e05804","type":"trigger","z":"7ed84d73.bb9d74","name":"","op1":"","op2":"simulação realizada com sucesso","op1type":"pay","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":940,"y":80,"wires":[["606e4c64.2f9be4"]]},{"id":"606e4c64.2f9be4","type":"mqtt out","z":"7ed84d73.bb9d74","name":"pub_mqtt","topic":"/mpu6050/listener/","qos":"0","retain":"","broker":"2fb1d01c.c6fa","x":1080,"y":80,"wires":[]},{"id":"30086c5d.d97fa4","type":"function","z":"7ed84d73.bb9d74","name":"Dynamic Filename","func":"function formatDate(date) {\n    var d = new Date(date),\n        month = '' + (d.getMonth() + 1),\n        day = '' + d.getDate(),\n        year = d.getFullYear();\n        hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n        mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n        ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n        //idade = '' + getidade();\n        //marcha = '' +getmarcha();\n        //altura = '' + getaltura();\n        //peso = '' + getpeso();\n        //codigo = '' + getgeracodigo(); ex: 2020060521N77TRS120 Idade/marcha/peso/iniciais/altura\n        \n        \n        \n        \n\n    if (month.length < 2) month = '0' + month;\n    if (day.length < 2) day = '0' + day;\n// Nome, Idade, Marcha, Altura, Peso\n    var name = msg.payload[0];\n    \n    var age = msg.payload[1];\n   \n    var weight = msg.payload[2];\n    \n    var height = msg.payload[3];\n    \n    var gait = msg.payload[4];\n    \n// Initials recebe as iniciais do nome do usuário    \n//    var initials = name.split(\" \").map((n)=>n[0]).join('');\n//    var initials = age.split(\" \");\n    var initials = name.split(\" \").map((n)=>n[0]).join('');\n    \n\n    return [year, month, day,age,gait,weight,initials,height].join('');\n}\n\nvar tempString =formatDate(Date().toString());\nvar tempString1 = \"\"+\"/home/trs/Gait_Project/GaitDataset/\";\nvar tempString2 = tempString1.concat(tempString);\nvar finalPath = tempString2.concat(\".csv\");\n\n\nmsg.payload= finalPath;\n\nreturn msg;\n    \n    \n    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":320,"wires":[["99f5c343.1e461"]]},{"id":"2f6c44fe.e52dac","type":"exec","z":"7ed84d73.bb9d74","command":"mv /home/trs/Gait_Project/GaitDataset/temporary.csv   ","addpay":true,"append":"","useSpawn":"false","timer":"2","oldrc":false,"name":"Rename temporary file","x":1280,"y":440,"wires":[[],[],["2673d310.05739c"]]},{"id":"99f5c343.1e461","type":"delay","z":"7ed84d73.bb9d74","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":380,"wires":[["2f6c44fe.e52dac"]]},{"id":"d7b1e0c.08c0a2","type":"function","z":"7ed84d73.bb9d74","name":"set Context to Flow","func":"var initialize; //variável onde será guardada a string \"iniciar\".\n\nvar name; //variável onde será guardada a feature nome do paciente.\n\nvar age; //variável onde será guardada a feature idade do paciente;\n\nvar weight; //variável onde será guarda a feature peso do paciente;\n\nvar height; //variável onde será guardada a feature altura do paciente;\n\nvar gait; //variavel onde será guardada a feature da marcha N ou I do paciente;\n\n//Setar variáveis para serem enxergadas por todos os nós do fluxo.\nflow.set('initialize',msg.payload.dashboard); \n\nflow.set('name',msg.payload.dashboardname); \n\nflow.set('age',msg.payload.dashboardage);\n\nflow.set('weight',msg.payload.dashboardweight);\n\nflow.set('height',msg.payload.dashboardheight);\n\nflow.set('gait',msg.payload.dashboardgait);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":360,"wires":[["763bec2d.d00e44","5c22ed3a.58ca14","5fdd1d6b.1948c4","48759897.cc5cb8","8f5083f.b216f8","3e9f7648.d7609a"]]},{"id":"21d44edc.a5ae92","type":"join","z":"7ed84d73.bb9d74","name":"Join Info","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":420,"y":240,"wires":[["b589f9cc.d66178"]]},{"id":"763bec2d.d00e44","type":"function","z":"7ed84d73.bb9d74","name":"Retrieve Initialize","func":"var start; //variável que armazenará o valor \"iniciar\" da variável flow \"initialize\".\n\nstart = flow.get('initialize'); //Armazenamento da variável flow initialize na variável start\n\nmsg.payload = start;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":80,"wires":[["7ee2eb6a.e05804"]]},{"id":"5c22ed3a.58ca14","type":"function","z":"7ed84d73.bb9d74","name":"Retrieve Name","func":"var getname; //Variável que armazenará o valor da variável do tipo flow 'name';\n\ngetname = flow.get('name'); // Função que retorna o valor da variável flow 'name' para a variável 'getname'\n\nmsg.payload = getname;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":140,"wires":[["b237d5ac.e31078"]]},{"id":"5fdd1d6b.1948c4","type":"function","z":"7ed84d73.bb9d74","name":"Retrieve Age","func":"var getage; //Variável que armazenará o valor da variável do tipo flow 'age';\n\ngetage = flow.get('age'); // Função que retorna o valor da variável flow 'age' para a variável 'age'\n\nmsg.payload = getage;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":200,"wires":[["84ec1c11.0506f"]]},{"id":"48759897.cc5cb8","type":"function","z":"7ed84d73.bb9d74","name":"Retrieve Weight","func":"var getweight; //Variável que armazenará o valor da variável do tipo flow 'name';\n\ngetweight = flow.get('weight'); // Função que retorna o valor da variável flow 'name' para a variável 'getname'\n\nmsg.payload = getweight;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":320,"wires":[["47ccb0e2.e6f77"]]},{"id":"8f5083f.b216f8","type":"function","z":"7ed84d73.bb9d74","name":"Retrieve Height","func":"var getheight; //Variável que armazenará o valor da variável do tipo flow 'name';\n\ngetheight = flow.get('height'); // Função que retorna o valor da variável flow 'name' para a variável 'getname'\n\nmsg.payload = getheight;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":440,"wires":[["ddc5dc3d.ec5cb"]]},{"id":"3e9f7648.d7609a","type":"function","z":"7ed84d73.bb9d74","name":"Retrieve Gait","func":"var getgait; //Variável que armazenará o valor da variável do tipo flow 'name';\n\ngetgait= flow.get('gait'); // Função que retorna o valor da variável flow 'name' para a variável 'getname'\n\nmsg.payload = getgait;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":560,"wires":[["81779237.7bf02"]]},{"id":"b237d5ac.e31078","type":"join","z":"7ed84d73.bb9d74","name":"Join Info ","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic.","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1060,"y":320,"wires":[["30086c5d.d97fa4"]]},{"id":"84ec1c11.0506f","type":"delay","z":"7ed84d73.bb9d74","name":"delay 200 ms","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":260,"wires":[["b237d5ac.e31078"]]},{"id":"47ccb0e2.e6f77","type":"delay","z":"7ed84d73.bb9d74","name":"delay 250 ms","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":380,"wires":[["b237d5ac.e31078"]]},{"id":"ddc5dc3d.ec5cb","type":"delay","z":"7ed84d73.bb9d74","name":"delay 300 ms","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":500,"wires":[["b237d5ac.e31078"]]},{"id":"81779237.7bf02","type":"delay","z":"7ed84d73.bb9d74","name":"delay 350 ms","pauseType":"delay","timeout":"350","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":620,"wires":[["b237d5ac.e31078"]]},{"id":"146f89a6.633a26","type":"function","z":"7ed84d73.bb9d74","name":"audio_content","func":"msg.payload = \"Iniciar Simulação da Marcha\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":100,"wires":[["86d5837e.91939"]]},{"id":"b589f9cc.d66178","type":"delay","z":"7ed84d73.bb9d74","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":300,"wires":[["d7b1e0c.08c0a2"]]},{"id":"2673d310.05739c","type":"function","z":"7ed84d73.bb9d74","name":"audio_content","func":"if (msg.payload.code === 0) \n{\n    msg.payload = \"Simulação da Marcha Realizada com Sucesso.\";\n}\nelse\n{\n    msg.payload = \"Ops, algo deu errado.\"\n}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1260,"y":500,"wires":[["74be081d.e67a48"]]},{"id":"86d5837e.91939","type":"ui_audio","z":"7ed84d73.bb9d74","name":"","group":"e8ce5fe9.d3e86","voice":"pt-BR","always":"","x":500,"y":100,"wires":[]},{"id":"74be081d.e67a48","type":"ui_audio","z":"7ed84d73.bb9d74","name":"","group":"e8ce5fe9.d3e86","voice":"pt-BR","always":"","x":1240,"y":560,"wires":[]},{"id":"766dc908.9608b8","type":"ui_button","z":"7ed84d73.bb9d74","name":"","group":"e8ce5fe9.d3e86","order":6,"width":6,"height":1,"passthru":false,"label":"Start Simulation","tooltip":"","color":"white","bgcolor":"blue","icon":"fa-play-circle fa-3x","payload":"start","payloadType":"str","topic":"dashboard","x":100,"y":100,"wires":[["21d44edc.a5ae92","146f89a6.633a26"]]},{"id":"31a84667.c563ba","type":"ui_text_input","z":"7ed84d73.bb9d74","name":"","label":"Name","tooltip":"Type using uppercase please","group":"e8ce5fe9.d3e86","order":1,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"dashboardname","x":130,"y":160,"wires":[["21d44edc.a5ae92"]]},{"id":"cb4d7919.465db8","type":"ui_text_input","z":"7ed84d73.bb9d74","name":"","label":"Age","tooltip":"","group":"e8ce5fe9.d3e86","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"dashboardage","x":130,"y":220,"wires":[["21d44edc.a5ae92"]]},{"id":"49643167.b9828","type":"ui_text_input","z":"7ed84d73.bb9d74","name":"","label":"Weight (kg)","tooltip":"","group":"e8ce5fe9.d3e86","order":3,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"dashboardweight","x":110,"y":280,"wires":[["21d44edc.a5ae92"]]},{"id":"5101b7a7.007bf8","type":"ui_text_input","z":"7ed84d73.bb9d74","name":"","label":"Height (cm)","tooltip":"","group":"e8ce5fe9.d3e86","order":4,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"dashboardheight","x":110,"y":340,"wires":[["21d44edc.a5ae92"]]},{"id":"d0934cab.5c546","type":"ui_text_input","z":"7ed84d73.bb9d74","name":"","label":"Gait Status","tooltip":"N for Normal, I for Irregular","group":"e8ce5fe9.d3e86","order":5,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"dashboardgait","x":110,"y":400,"wires":[["21d44edc.a5ae92"]]},{"id":"b34b4503.9ef4d8","type":"comment","z":"7ed84d73.bb9d74","name":"Collect Patient Information Flow","info":"","x":130,"y":40,"wires":[]},{"id":"ef77dd6d.eb19a","type":"comment","z":"7ed84d73.bb9d74","name":"Generate Unique CSV Filename per Patient Flow","info":"","x":1340,"y":260,"wires":[]},{"id":"d53a3609.4aaa48","type":"debug","z":"7ed84d73.bb9d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":840,"wires":[]},{"id":"2fb1d01c.c6fa","type":"mqtt-broker","z":"","name":"Meu Broker MQTT","broker":"172.25.15.47","port":"1883","clientid":"ESP32_Tiago","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"98568584.0543a8","type":"ui_group","z":"","name":"Connection","tab":"9befcbae.780db8","order":2,"disp":true,"width":9,"collapse":false},{"id":"e8ce5fe9.d3e86","type":"ui_group","z":"","name":"Informações do Paciente ","tab":"9befcbae.780db8","order":1,"disp":true,"width":6,"collapse":false},{"id":"9befcbae.780db8","type":"ui_tab","z":"","name":"Gait Analysis","icon":"dashboard","disabled":false,"hidden":false}]