node_red/NodeRedDataSet.json
[{"id":"c0773238.87bac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3964879c.163618","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fae6154b.df8638","type":"mqtt-broker","z":"","name":"Meu Broker MQTT","broker":"192.168.0.4","port":"1883","clientid":"ESP32_Tiago","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"536043d0.e217cc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Gait Data ","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"508c839e.d790ac","type":"ui_tab","z":"","name":"Main","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1a89712d.2d130f","type":"ui_group","z":"","name":"Patient Informations","tab":"508c839e.d790ac","order":1,"disp":true,"width":"12","collapse":false},{"id":"2a9bb94b.128816","type":"ui_group","z":"","name":"PDS - Frequência","tab":"680ea1e0.c4f79","order":1,"disp":true,"width":6,"collapse":false},{"id":"a3cc5fff.f26bb","type":"ui_tab","z":"","name":"Gait Data Graph","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7cdf1640.9981c8","type":"ui_group","z":"","name":"Plot from Accelerometer XYZ","tab":"a3cc5fff.f26bb","order":1,"disp":true,"width":12,"collapse":false},{"id":"daf3c96f.f2b478","type":"ui_group","z":"","name":"Plot from Gyroscope XYZ","tab":"a3cc5fff.f26bb","order":2,"disp":true,"width":12,"collapse":false},{"id":"af91ea80.770388","type":"ui_spacer","name":"spacer","group":"1a89712d.2d130f","order":1,"width":12,"height":1},{"id":"230d5233.46109e","type":"ui_spacer","name":"spacer","group":"1a89712d.2d130f","order":3,"width":12,"height":1},{"id":"6a206dce.0f0604","type":"ui_spacer","name":"spacer","group":"1a89712d.2d130f","order":5,"width":3,"height":1},{"id":"afc2d7ce.2fd698","type":"ui_spacer","name":"spacer","group":"1a89712d.2d130f","order":6,"width":12,"height":1},{"id":"50ceab2b.081934","type":"ui_spacer","name":"spacer","group":"1a89712d.2d130f","order":8,"width":3,"height":1},{"id":"e68ab433.26e3c8","type":"ui_spacer","name":"spacer","group":"1a89712d.2d130f","order":9,"width":12,"height":1},{"id":"f5d7d687.314d28","type":"ui_spacer","name":"spacer","group":"1a89712d.2d130f","order":11,"width":3,"height":1},{"id":"f43abdce.db731","type":"ui_spacer","name":"spacer","group":"1a89712d.2d130f","order":12,"width":12,"height":1},{"id":"603f58c4.442728","type":"ui_spacer","name":"spacer","group":"1a89712d.2d130f","order":14,"width":3,"height":1},{"id":"b1fde44c.3e98c8","type":"ui_spacer","name":"spacer","group":"1a89712d.2d130f","order":15,"width":12,"height":1},{"id":"5cae544.f362bac","type":"ui_spacer","name":"spacer","group":"7cdf1640.9981c8","order":2,"width":12,"height":1},{"id":"870a16d4.6af6a8","type":"ui_spacer","name":"spacer","group":"7cdf1640.9981c8","order":4,"width":12,"height":1},{"id":"ed2e12df.f012","type":"ui_spacer","name":"spacer","group":"daf3c96f.f2b478","order":2,"width":12,"height":1},{"id":"4d395a4e.ed9d74","type":"ui_spacer","name":"spacer","group":"daf3c96f.f2b478","order":4,"width":12,"height":1},{"id":"680ea1e0.c4f79","type":"ui_tab","z":"","name":"Teste","icon":"dashboard","disabled":false,"hidden":false},{"id":"9fd7fcb6.8a7c3","type":"ui_spacer","name":"spacer","group":"2a9bb94b.128816","order":1,"width":6,"height":1},{"id":"9b13a941.fccdf8","type":"mqtt in","z":"c0773238.87bac","name":"sub_data_accel","topic":"/mpu6050/buffer/","qos":"2","datatype":"utf8","broker":"fae6154b.df8638","x":100,"y":900,"wires":[["627fad45.8c3d44","8d6f85d6.351f18"]]},{"id":"627fad45.8c3d44","type":"csv","z":"c0773238.87bac","name":"","sep":",","hdrin":false,"hdrout":true,"multi":"one","ret":"\\n","temp":"xac,yac,zac,xang,yang,zang,time,amostra,","skip":"0","strings":true,"x":470,"y":940,"wires":[["56bac960.56a918","db11d3df.ce499","cfef2284.b90ea","ecbae4ff.1f92a8","45232965.9f3ac8","482865c4.1bd09c","c74cd771.a198b8","9b1bf020.70dff"]]},{"id":"56bac960.56a918","type":"function","z":"c0773238.87bac","name":"xaxis","func":"msg.payload = msg.payload.xaxis;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":960,"wires":[["1beb98f6.3afa07"]]},{"id":"db11d3df.ce499","type":"function","z":"c0773238.87bac","name":"yaxis","func":"msg.payload = msg.payload.yaxis;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1020,"wires":[["88d7135d.d6ff3"]]},{"id":"cfef2284.b90ea","type":"function","z":"c0773238.87bac","name":"zaxis","func":"msg.payload = msg.payload.zaxis;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1080,"wires":[["e997c9fa.e8ce08"]]},{"id":"ecbae4ff.1f92a8","type":"function","z":"c0773238.87bac","name":"xang","func":"msg.payload = msg.payload.xang;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1140,"wires":[["703398fb.0171f8"]]},{"id":"45232965.9f3ac8","type":"function","z":"c0773238.87bac","name":"yang","func":"msg.payload = msg.payload.yang;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1200,"wires":[["19a57644.63895a"]]},{"id":"482865c4.1bd09c","type":"function","z":"c0773238.87bac","name":"zang","func":"msg.payload = msg.payload.zang;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1260,"wires":[["665dec20.300ee4"]]},{"id":"c74cd771.a198b8","type":"function","z":"c0773238.87bac","name":"timesample","func":"msg.payload = msg.payload.time;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1320,"wires":[[]]},{"id":"9f2d407c.d92a1","type":"trigger","z":"c0773238.87bac","op1":"iniciar","op2":"simulação realizada com sucesso","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1340,"y":40,"wires":[["23bbccf8.913404"]]},{"id":"23bbccf8.913404","type":"mqtt out","z":"c0773238.87bac","name":"pub_mqtt","topic":"/mpu6050/listener","qos":"0","retain":"","broker":"fae6154b.df8638","x":1480,"y":40,"wires":[]},{"id":"8518cf36.c9fad","type":"function","z":"c0773238.87bac","name":"Dynamic Filename","func":"function formatDate(date) {\n    var d = new Date(date),\n        month = '' + (d.getMonth() + 1),\n        day = '' + d.getDate(),\n        year = d.getFullYear();\n        hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n        mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n        ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n        //idade = '' + getidade();\n        //marcha = '' +getmarcha();\n        //altura = '' + getaltura();\n        //peso = '' + getpeso();\n        //codigo = '' + getgeracodigo(); ex: 2020060521N77TRS120 Idade/marcha/peso/iniciais/altura\n        \n        \n        \n        \n\n    if (month.length < 2) month = '0' + month;\n    if (day.length < 2) day = '0' + day;\n// Nome, Idade, Marcha, Altura, Peso\n    var name = msg.payload[0];\n    \n    var age = msg.payload[1];\n   \n    var weight = msg.payload[2];\n    \n    var height = msg.payload[3];\n    \n    var gait = msg.payload[4];\n    \n// Initials recebe as iniciais do nome do usuário    \n//    var initials = name.split(\" \").map((n)=>n[0]).join('');\n//    var initials = age.split(\" \");\n    var initials = name.split(\" \").map((n)=>n[0]).join('');\n    \n\n    return [year, month, day,age,gait,weight,initials,height].join('');\n}\n\nvar tempString =formatDate(Date().toString());\nvar tempString1 = \"\"+\"/home/trs/Gait_Project/GaitDataset/\";\nvar tempString2 = tempString1.concat(tempString);\nvar finalPath = tempString2.concat(\".csv\");\n\n\nmsg.payload= finalPath;\n\nreturn msg;\n    \n    \n    \n","outputs":1,"noerr":0,"x":710,"y":520,"wires":[["a214f8dc.3363d8"]]},{"id":"e06876e.271bd88","type":"exec","z":"c0773238.87bac","command":"mv /home/trs/Gait_Project/GaitDataset/temporary.csv   ","addpay":true,"append":"","useSpawn":"false","timer":"2","oldrc":false,"name":"Rename temporary file","x":940,"y":660,"wires":[[],[],["f223e129.c4952"]]},{"id":"9b1bf020.70dff","type":"file","z":"c0773238.87bac","name":"","filename":"/home/trs/Gait_Project/GaitDataset/temporary.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":910,"y":900,"wires":[[]]},{"id":"6498e133.a4f6d","type":"mqtt in","z":"c0773238.87bac","name":"sub_age","topic":"/mpu6050/info_user/age","qos":"2","datatype":"auto","broker":"fae6154b.df8638","x":80,"y":480,"wires":[["b2ad6c9d.5fc46"]]},{"id":"39205fc6.7c5f1","type":"mqtt in","z":"c0773238.87bac","name":"sub_weight","topic":"/mpu6050/info_user/weight","qos":"2","datatype":"auto","broker":"fae6154b.df8638","x":70,"y":540,"wires":[["6b70f682.c51428"]]},{"id":"14d42a93.c4a135","type":"mqtt in","z":"c0773238.87bac","name":"sub_height","topic":"/mpu6050/info_user/height","qos":"2","datatype":"auto","broker":"fae6154b.df8638","x":80,"y":600,"wires":[["98882883.1334a8"]]},{"id":"a214f8dc.3363d8","type":"delay","z":"c0773238.87bac","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":580,"wires":[["e06876e.271bd88"]]},{"id":"114ae4d1.d707bb","type":"function","z":"c0773238.87bac","name":"set Context to Flow","func":"var initialize; //variável onde será guardada a string \"iniciar\".\n\nvar name; //variável onde será guardada a feature nome do paciente.\n\nvar age; //variável onde será guardada a feature idade do paciente;\n\nvar weight; //variável onde será guarda a feature peso do paciente;\n\nvar height; //variável onde será guardada a feature altura do paciente;\n\nvar gait; //variavel onde será guardada a feature da marcha N ou I do paciente;\n\n//Setar variáveis para serem enxergadas por todos os nós do fluxo.\nflow.set('initialize',msg.payload.dashboard); \n\nflow.set('name',msg.payload.dashboardname); \n\nflow.set('age',msg.payload.dashboardage);\n\nflow.set('weight',msg.payload.dashboardweight);\n\nflow.set('height',msg.payload.dashboardheight);\n\nflow.set('gait',msg.payload.dashboardgait);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":200,"wires":[["b35fe858.3fc628","5a7aae57.3ff56","58240781.1522c8","49448896.eafc68","4359f8a5.2fa428","371290a8.cc7ba"]]},{"id":"b9c32415.810038","type":"mqtt in","z":"c0773238.87bac","name":"sub_name","topic":"/mpu6050/info_user/name","qos":"2","datatype":"auto","broker":"fae6154b.df8638","x":240,"y":420,"wires":[["98c5cd96.d4604"]]},{"id":"21651314.b7aa5c","type":"join","z":"c0773238.87bac","name":"Join Info","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":520,"y":200,"wires":[["12b33bc7.45a904"]]},{"id":"b35fe858.3fc628","type":"function","z":"c0773238.87bac","name":"Retrieve Initialize","func":"var start; //variável que armazenará o valor \"iniciar\" da variável flow \"initialize\".\n\nstart = flow.get('initialize'); //Armazenamento da variável flow initialize na variável start\n\nmsg.payload = start;\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":40,"wires":[["9f2d407c.d92a1"]]},{"id":"c26846a0.e38158","type":"mqtt out","z":"c0773238.87bac","name":"pub_name","topic":"/mpu6050/info_user/name","qos":"0","retain":"true","broker":"fae6154b.df8638","x":1350,"y":100,"wires":[]},{"id":"5a7aae57.3ff56","type":"function","z":"c0773238.87bac","name":"Retrieve Name","func":"var getname; //Variável que armazenará o valor da variável do tipo flow 'name';\n\ngetname = flow.get('name'); // Função que retorna o valor da variável flow 'name' para a variável 'getname'\n\nmsg.payload = getname;\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":100,"wires":[["c26846a0.e38158"]]},{"id":"58240781.1522c8","type":"function","z":"c0773238.87bac","name":"Retrieve Age","func":"var getage; //Variável que armazenará o valor da variável do tipo flow 'age';\n\ngetage = flow.get('age'); // Função que retorna o valor da variável flow 'age' para a variável 'age'\n\nmsg.payload = getage;\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":160,"wires":[["27d61e5c.6f00c2"]]},{"id":"49448896.eafc68","type":"function","z":"c0773238.87bac","name":"Retrieve Weight","func":"var getweight; //Variável que armazenará o valor da variável do tipo flow 'name';\n\ngetweight = flow.get('weight'); // Função que retorna o valor da variável flow 'name' para a variável 'getname'\n\nmsg.payload = getweight;\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":220,"wires":[["d5776f64.1c003"]]},{"id":"4359f8a5.2fa428","type":"function","z":"c0773238.87bac","name":"Retrieve Height","func":"var getheight; //Variável que armazenará o valor da variável do tipo flow 'name';\n\ngetheight = flow.get('height'); // Função que retorna o valor da variável flow 'name' para a variável 'getname'\n\nmsg.payload = getheight;\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":280,"wires":[["b3d75f54.d13bc"]]},{"id":"27d61e5c.6f00c2","type":"mqtt out","z":"c0773238.87bac","name":"pub_age","topic":"/mpu6050/info_user/age","qos":"0","retain":"true","broker":"fae6154b.df8638","x":1340,"y":160,"wires":[]},{"id":"d5776f64.1c003","type":"mqtt out","z":"c0773238.87bac","name":"pub_weight","topic":"/mpu6050/info_user/weight","qos":"0","retain":"true","broker":"fae6154b.df8638","x":1350,"y":220,"wires":[]},{"id":"b3d75f54.d13bc","type":"mqtt out","z":"c0773238.87bac","name":"pub_height","topic":"/mpu6050/info_user/height","qos":"0","retain":"true","broker":"fae6154b.df8638","x":1350,"y":280,"wires":[]},{"id":"85c23090.5e7ad","type":"mqtt in","z":"c0773238.87bac","name":"sub_gait","topic":"/mpu6050/info_user/gait","qos":"2","datatype":"auto","broker":"fae6154b.df8638","x":80,"y":660,"wires":[["b7f4c888.60e9d8"]]},{"id":"b8ddffcd.ea155","type":"mqtt out","z":"c0773238.87bac","name":"pub_gait","topic":"/mpu6050/info_user/gait","qos":"0","retain":"true","broker":"fae6154b.df8638","x":1340,"y":340,"wires":[]},{"id":"371290a8.cc7ba","type":"function","z":"c0773238.87bac","name":"Retrieve Gait","func":"var getgait; //Variável que armazenará o valor da variável do tipo flow 'name';\n\ngetgait= flow.get('gait'); // Função que retorna o valor da variável flow 'name' para a variável 'getname'\n\nmsg.payload = getgait;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":340,"wires":[["b8ddffcd.ea155"]]},{"id":"64e1e7d6.f8bcc8","type":"debug","z":"c0773238.87bac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":580,"wires":[]},{"id":"98c5cd96.d4604","type":"join","z":"c0773238.87bac","name":"Join Info ","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic.","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":500,"y":520,"wires":[["64e1e7d6.f8bcc8","8518cf36.c9fad"]]},{"id":"b2ad6c9d.5fc46","type":"delay","z":"c0773238.87bac","name":"delay 200 ms","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":480,"wires":[["98c5cd96.d4604"]]},{"id":"6b70f682.c51428","type":"delay","z":"c0773238.87bac","name":"delay 250 ms","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":540,"wires":[["98c5cd96.d4604"]]},{"id":"98882883.1334a8","type":"delay","z":"c0773238.87bac","name":"delay 300 ms","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":600,"wires":[["98c5cd96.d4604"]]},{"id":"b7f4c888.60e9d8","type":"delay","z":"c0773238.87bac","name":"delay 350 ms","pauseType":"delay","timeout":"350","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":660,"wires":[["98c5cd96.d4604"]]},{"id":"d07a39fe.3d2288","type":"comment","z":"c0773238.87bac","name":"Why Delay ?","info":"Os nodes de delay acima tem por função organizar\na ordem em que as informações do paciente chegam\nno vetor. Dessa forma, não haverá problemas \nna função do Dynamic Filename que, por sua vez,\nexige uma ordem pré-definida das mensagens recebidas por uma questão de codificação do filename.","x":90,"y":420,"wires":[]},{"id":"8d6f85d6.351f18","type":"debug","z":"c0773238.87bac","name":"csv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":230,"y":1000,"wires":[]},{"id":"db2a09ed.e1aa78","type":"ui_button","z":"c0773238.87bac","name":"","group":"1a89712d.2d130f","order":16,"width":0,"height":0,"passthru":false,"label":"Start Simulation","tooltip":"","color":"","bgcolor":"","icon":"","payload":"iniciar","payloadType":"str","topic":"dashboard","x":240,"y":40,"wires":[["21651314.b7aa5c","9007103f.36bc5"]]},{"id":"3d848502.e72b0a","type":"ui_text_input","z":"c0773238.87bac","name":"","label":"Name (em caixa alta)","tooltip":"","group":"1a89712d.2d130f","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"dashboardname","x":220,"y":100,"wires":[["21651314.b7aa5c"]]},{"id":"a9869679.8dd098","type":"ui_text_input","z":"c0773238.87bac","name":"","label":"Age","tooltip":"","group":"1a89712d.2d130f","order":4,"width":9,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"dashboardage","x":270,"y":160,"wires":[["21651314.b7aa5c"]]},{"id":"427e34e2.84197c","type":"ui_text_input","z":"c0773238.87bac","name":"","label":"Weight (kg)","tooltip":"","group":"1a89712d.2d130f","order":7,"width":9,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"dashboardweight","x":250,"y":220,"wires":[["21651314.b7aa5c"]]},{"id":"bf626ca9.76154","type":"ui_text_input","z":"c0773238.87bac","name":"","label":"Height (cm)","tooltip":"","group":"1a89712d.2d130f","order":10,"width":9,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"dashboardheight","x":250,"y":280,"wires":[["21651314.b7aa5c"]]},{"id":"dbce99db.dc0bb8","type":"ui_text_input","z":"c0773238.87bac","name":"","label":"Gait Status (N or I)","tooltip":"Teste","group":"1a89712d.2d130f","order":13,"width":9,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"dashboardgait","x":230,"y":340,"wires":[["21651314.b7aa5c"]]},{"id":"e997c9fa.e8ce08","type":"ui_chart","z":"c0773238.87bac","name":"","group":"7cdf1640.9981c8","order":5,"width":0,"height":0,"label":"Aceleração Linear no Eixo Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0f5789","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":1080,"wires":[[]]},{"id":"88d7135d.d6ff3","type":"ui_chart","z":"c0773238.87bac","name":"","group":"7cdf1640.9981c8","order":3,"width":0,"height":0,"label":"Aceleração Linear no Eixo Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#c7191a","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":1020,"wires":[[]]},{"id":"1beb98f6.3afa07","type":"ui_chart","z":"c0773238.87bac","name":"","group":"7cdf1640.9981c8","order":1,"width":12,"height":7,"label":"Aceleração Linear no Eixo X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#115dc1","#e57716","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":960,"wires":[[]]},{"id":"703398fb.0171f8","type":"ui_chart","z":"c0773238.87bac","name":"","group":"daf3c96f.f2b478","order":1,"width":12,"height":7,"label":"Variação Angular no Eixo X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#115dc1","#ed964a","#128512","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":1140,"wires":[[]]},{"id":"19a57644.63895a","type":"ui_chart","z":"c0773238.87bac","name":"","group":"daf3c96f.f2b478","order":3,"width":12,"height":7,"label":"Variação Angular no Eixo Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#c7191a","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":1200,"wires":[[]]},{"id":"665dec20.300ee4","type":"ui_chart","z":"c0773238.87bac","name":"","group":"daf3c96f.f2b478","order":5,"width":0,"height":0,"label":"Variaçaõ Angular no Eixo Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0f5789","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":1260,"wires":[[]]},{"id":"ae50d1e1.6a538","type":"ui_audio","z":"c0773238.87bac","name":"","group":"1a89712d.2d130f","voice":"pt-BR","always":"","x":640,"y":40,"wires":[]},{"id":"9007103f.36bc5","type":"function","z":"c0773238.87bac","name":"audio_content","func":"msg.payload = \"Iniciar Simulação da Marcha\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":40,"wires":[["ae50d1e1.6a538"]]},{"id":"12b33bc7.45a904","type":"delay","z":"c0773238.87bac","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":200,"wires":[["114ae4d1.d707bb"]]},{"id":"f223e129.c4952","type":"function","z":"c0773238.87bac","name":"audio_content","func":"if (msg.payload.code === 0) \n{\n    msg.payload = \"Simulação da Marcha Realizada com Sucesso.\";\n}\nelse\n{\n    msg.payload = \"Ops, algo deu errado.\"\n}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1080,"y":740,"wires":[["306102f8.e3b74e"]]},{"id":"306102f8.e3b74e","type":"ui_audio","z":"c0773238.87bac","name":"","group":"1a89712d.2d130f","voice":"pt-BR","always":"","x":1220,"y":780,"wires":[]},{"id":"484ff60a.663158","type":"mqtt out","z":"3964879c.163618","name":"pub_freq","topic":"/pds/frequencia","qos":"","retain":"","broker":"fae6154b.df8638","x":580,"y":220,"wires":[]},{"id":"2aad57f9.db2a28","type":"inject","z":"3964879c.163618","name":"FreqSend","topic":"","payload":"{  \"Freq\": 3000 }","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":280,"wires":[[]]},{"id":"f7584372.32676","type":"ui_text_input","z":"3964879c.163618","name":"SetFreq","label":"Frequência","tooltip":"","group":"2a9bb94b.128816","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":420,"y":220,"wires":[["484ff60a.663158"]]}]